* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#Foot {
    border: 2px solid white;
}

.cta {
    background-color: blue;
    background-image: linear-gradient(to right, rgb(66, 50, 163), rgb(40, 108, 213));
    display: flex;
    height: 8vh;
    justify-content: center;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.cta-elements {
    margin: 10px;
    margin-top: 20px;
}

#cta-left {

    margin-right: 2em;
    margin-left: 2px;
    text-decoration: underline;
    color: aquamarine;
}

#cta-center-left {
    border: 1px solid #bfbfbfbf;
    border-radius: 10px;
    height: 3vh;
    border-radius: 50px;
}

#cta-center {
    color: white;

}

#cta-right {
    margin-top: 15px;
    text-align: center;
    display: flex;
}

.cta-btn {
    border: none;
    border-radius: 3px;
    background-color: aquamarine;
    width: 100px;
    padding: 2px 10px;
    height: 30px;
}

#cta-btn {
    text-decoration: none;
    color: rgb(12, 33, 138);
}

.navbar {
    padding-top: 300px;
    background-color: rgb(2, 4, 43);
    height: 12vh;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.nav-items {
    margin: 15px 5px;
    padding: 5px 10px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 18px;
}

#nav-hov:hover {
    color: rgb(36, 112, 204);
}

#nav-hova:hover {
    color: rgb(36, 112, 204);
    border-bottom: 4px solid rgb(43, 132, 234);
}

#nav-img {
    height: 4vh;
    position: relative;
    bottom: 5px;
}

#nav-login {
    border: 1px solid rgb(36, 112, 204);
    border-radius: 5px;
    padding-left: 18x;
    padding-right: 18px;
}

#nav-login-l {
    position: relative;
    font-size: 15px;
    top: 2px;
    left: 4px;
}

#nav-signup {
    background-color: white;
    color: rgb(36, 112, 204);
    border-radius: 3px;
    font-size: 13px;
    margin: 17px 10px;
}

#nav-signup-s {
    position: relative;
    top: 5px;
    padding: 0 15px;
    font-weight: 600;
}

#nav-drop {
    padding-bottom: 15px;
    width: 3;
}

#nav-drop-d {
    color: white;
    position: relative;
    bottom: 33px;
    right: 10px;

    transform: rotate(180deg);
}

#sec {
    background-color: rgb(2, 4, 43);
    display: flex;
    justify-content: center;
}

#sec-text {
    color: white;
    font-size: 45px;
    font-weight: bold;
    padding: 100px 0px;
    margin: 10px;
    position: relative;
}

#sec-bg {
    margin: 10px;
    position: relative;
}

#sec-bg-img {
    width: 650px;
}

#sec-left-top {
    margin: 3px;
    margin-bottom: 30px;
}

#sec-left-mid {
    padding-right: 398px;
    margin: 3px;
}

.sec-left-m {
    border: 2px solid rgb(97, 206, 166);
}

#sec-left-bottom {

    font-weight: normal;
    font-size: 19px;
    color: rgb(172, 173, 185);
    margin: 3px;
    margin-top: 30px;
}

.sec-left-b {
    margin: 6px 0px;
}

#sec-left-signup {
    font-size: 15px;
    font-weight: normal;
    padding: 15px 0px;
    margin-top: 30px;
}

#sec-left-signup-s {
    color: white;
    margin: 30px 0px;
    background-color: rgb(43, 132, 234);
    border-radius: 3px;
    padding: 18px 22px;
    text-decoration: none;
    position: relative;
    top: 10px;
}

#sec-left-signup-s:hover {
    background-color: rgb(24, 119, 227);
}

#sec-down {
    z-index: 0;
    background-color: white;
}

#sec-2 {
    display: flex;
    justify-content: center;
}

.sec-2-d {
    margin: 10px;
}

#sec-2-left {
    position: relative;
    right: 90px;
    bottom: 140px;
    z-index: -1;
}

#sec-2-mid {
    position: relative;
    bottom: 10px;
}

#sec-2-mid-text {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 15px;
}

#sec-2-mid-border {
    margin: 0px 258px;
    border: 2.5px solid rgb(97, 206, 166);
    position: relative;
    top: 30px;
}

#sec-2-right {
    position: relative;
    top: 40px;
    left: 235px;
    z-index: -1;
}

#sec-2-img-2 {
    transform: rotate(180deg);
}

.sec-3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    bottom: 40px;
}

.sec-3-card {
    width: 72.5%;
    height: 72vh;
    border: 2px solid rgb(226, 226, 226);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2px;
    right: 10px;
}

.sec-3-text {
    width: 600px;
    background-color: white;
    z-index: 2;
}

.sec-3-top {
    margin: 20px 0px;
    margin-top: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 40px;
    display: inline-block;
    position: relative;
    left: 50px;
}

#sec-3-top-blue {
    color: rgb(48, 135, 234);
}

.sec-3-top-t {
    display: inline-block;
}

.sec-3-mid {
    margin: 20px 50px;
}

.sec-3-mid-items {
    text-decoration: none;
    list-style: none;
    padding: 7px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#sec-3-mid-i {
    color: white;
    border: 2px solid rgb(140, 225, 205);
    content: " ";
    margin-right: 25px;
    border-left: 0px;
    width: 10px;
    border-top: 0px;
    display: inline-block;
    transform: rotate(45deg);
}

.sec-3-bottom {
    margin: 40px;
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
}

.sec-3-bottom-left {
    margin: 10px;
    padding: 15px 20px;
    border-radius: 4px;
    position: relative;
    bottom: 20px;
    background-color: rgb(43, 132, 234);
}

.sec-3-bottom-left a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.sec-3-bottom-right {
    /* border: 2px solid black; */
    margin: 10px;
    padding: 10px;
    position: relative;
    bottom: 20px;
    right: 5px;
}

.sec-3-bottom-right a {
    color: rgb(43, 132, 234);
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

#sec-3-bottom-right-svg{
    width: 17px;
    position: relative;
    top: 4px;
}

.sec-3-img {
    width: 600px;
    background-color: white;
    z-index: 1;
    display: flex;
}

#sec-3-img-i {
    width: 600px;
}

.sec-4{
    /* height: 20vh; */
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.sec-4-carddiv{
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(3,370px);
    width: 70%;
    align-self: center;
    position: relative;
    right: 20px;
    /* margin: 0px 220px; */
}

.sec-4-card{
    border: 1px solid rgb(236,237,240);
    box-sizing: border-box;
    /* box-shadow: 0 0px 8px 0 rgba(198, 198, 198, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 7px;
    width: 330px;
    margin: 10px;
    /* align-items: safe; */
    padding: 10px;
    text-decoration: none;
}

.sec-4-card:hover{
    box-shadow: 1px 1px 10px 4px rgba(185, 185, 185, 0.2);
}

.sec-4-card-top{
    font-weight: bold;
    letter-spacing: 0.1px;
    /* border: 2px solid blueviolet; */
    color: rgb(22,47,86);
    font-size: 21px;
    padding: 10px;
}

.sec-4-card-mid{
    /* font-weight: bold; */
    /* letter-spacing: 0.1px; */
    /* border: 2px solid blueviolet; */
    color: rgb(129,133,151);
    font-size: 16px;
    /* font-weight:400; */
    padding: 10px;
    line-height: 22px;
    width: 93%;
}

.sec-4-card-bottom{
    /* font-weight: bold; */
    /* letter-spacing: 0.1px; */
    color: rgb(11,114,231);
    /* border: 2px solid blueviolet; */
    font-size: 15px;
    font-weight:500;
    padding: 10px;
}

#sec-4-card-1{
    width: 88%;
}

.sec-4-footdiv{
    border: 2px solid rgb(166,203,249);
    border-radius: 7px;
    display: flex;
    margin: 0px auto;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, rgb(226,237,253), rgb(246,250,254));
    height: 8vh;
    justify-content: center ;
    letter-spacing: 0.1px;
    align-items: center;
    width: 71.5%;
}

#sec-4-footdiv-left{
    font-weight: bold;
    color: rgb(52,68,102);
    padding: 5px;
    font-size: 14px;
}

#sec-4-footdiv-center{
    color: rgb(100,112,138);
    padding: 5px;
    font-size: 14px;
}

#sec-4-footdiv-right{
    font-weight: bold;
    color: rgb(11,114,231);
    padding: 5px;
    font-size: 14px;
}

#sec-4-footdiv-svg{
    position: relative;
    width: 17px;
    color: rgb(11,114,231);
    right: 4px;
}

.sec-5{
    background-image: url(https://razorpay.com/build/browser/static/x-dark-bg.0bc3bc00.svg);
    background-repeat: no-repeat;
    background-size: 2500px 1750px;
    background-position-x:22%;
}

.sec-5-d{
    /* justify-content: center; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    height: 38vh;
}

.sec-5-d1{
    /* justify-content: center; */
    /* border: 2px solid black; */
    /* align-items: center; */
    align-self:last baseline;
    /* align-content: center; */
    /* display: flex;
    justify-content: center; */
}

#sec-5-d1-text{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#sec-5-d1-border{
    margin: 0px 258px;
    border: 2.5px solid rgb(97, 206, 166);
    position: relative;
    top: 15px;
}

.sec-5-d2{
    /* color: white; */
    /* border: 4px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* z-index: 3; */
}


.sec-5-card {
    width: 72.5%;
    height: 482px;
    border: 1px solid rgb(80,88,115);
    z-index: 1;
    border-radius: 9px;
    padding: 5px;
    display: flex;
    background-color: rgb(24,28,46);
    justify-content: center;
    position: relative;
    bottom: 2px;
    right: 10px;
}

.sec-5-text {
    width: 800px;
    background-color: rgb(24,28,46);
    /* border: 2px solid white; */
    position: relative;
    left: 25px;
    /* z-index: 0; */
    color: white;
}

.sec-5-top {
    margin: 20px 0px;
    margin-top: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 40px;
    /* border: 2px solid white; */
    width: 530px;
    /* color: white; */
    display: inline-block;
    position: relative;
    left: 50px;
    z-index: 2;
}

#sec-5-top-blue {
    color: rgb(48, 135, 234);
}

.sec-5-top-t {
    display: inline-block;
}

#sec-5-top-img{
    position: relative;
    width: 170px;
    top: 7px;
}

.sec-5-mid {
    margin: 20px 50px;
    color: rgb(167,195,204);
}

.sec-5-mid-items {
    text-decoration: none;
    list-style: none;
    padding: 7px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.sec-5-mid-i {
    color: rgb(24,28,46);
    border: 2px solid rgb(140, 225, 205);
    content: " ";
    margin-right: 25px;
    border-left: 0px;
    width: 10px;
    border-top: 0px;
    display: inline-block;
    transform: rotate(45deg);
}

.sec-5-bottom {
    margin: 40px;
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
}

.sec-5-bottom-left {
    margin: 10px;
    padding: 15px 20px;
    border-radius: 4px;
    position: relative;
    bottom: 20px;
    background-color: rgb(43, 132, 234);
}

.sec-5-bottom-left a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.sec-5-bottom-right {
    /* border: 2px solid black; */
    margin: 10px;
    padding: 10px;
    position: relative;
    bottom: 20px;
    right: 5px;
}

.sec-5-bottom-right a {
    color: rgb(43, 132, 234);
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

#sec-5-bottom-right-svg{
    width: 17px;
    position: relative;
    top: 4px;
}

.sec-5-img {
    width: 600px;
    z-index: 1;
    display: flex;
}

.sec-5-d3{
    display: flex;
    justify-content: center;
    /* border: 2px solid white; */
    margin-top: 40px;
}    

.sec-5-carddiv{
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 75%;
    padding: 20px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-self: center;
    position: relative;
    right: 10px;
}

.sec-5-card2{
    border: 1px solid rgb(70,77,102);
    /* box-sizing: border-box10*/
    /* box-shadow: 0 0px 8px 0 rgba(198, 198, 198, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 7px;
    width: 344px;
    margin: 15px ;
    /* align-items: safe; */
    padding: 20px;
    padding-left: 10px;
    text-decoration: none;
    letter-spacing: 0.2px;
}

.sec-5-card2:hover{
    box-shadow: 8px 8px 10px 15px rgba(0, 0, 0, 0.2);
}

.sec-5-card-top{
    font-weight: bold;
    letter-spacing: 0.1px;
    /* border: 2px solid blueviolet; */
    color: white;
    font-size: 21px;
    padding: 10px;
    /* margin: 10px 0px; */
}

.sec-5-card-mid{
    /* font-weight: bold; */
    /* letter-spacing: 0.1px; */
    /* border: 2px solid blueviolet; */
    color: rgb(129,133,151);
    font-size: 16px;
    /* font-weight:400; */
    padding: 10px;
    padding-bottom: 25px;
    line-height: 22px;
    width: 93%;
}

.sec-5-card-bottom{
    /* font-weight: bold; */
    /* letter-spacing: 0.1px; */
    color: rgb(11,114,231);
    /* border: 2px solid blueviolet; */
    font-size: 15px;
    font-weight:600;
    padding: 10px;
    padding-bottom: 0px;
}

.sec-5-d4{
    margin-top: 45px;
}

.sec-5-footdiv{
    border: 2px solid rgb(59,66,90);
    border-radius: 7px;
    display: flex;
    margin: 0px auto;
    margin-top: 10px;
    background-color: rgb(24,28,46);
    height: 115px;
    justify-content: center ;
    letter-spacing: 0.1px;
    align-items: center;
    width: 72%;
    position: relative;
    right: 15px;
    margin-bottom: 200px;
}

#sec-5-footdiv-left{
    color: white;
    padding: 5px;
    font-size: 20px;
}

#sec-5-footdiv-left-bold{
    font-weight: bold;
}

#sec-5-footdiv-bottom{
    margin: 10px;
    padding: 15px 20px;
    margin-top: 48px;
    margin-left: 28px;
    border-radius: 4px;
    position: relative;
    bottom: 20px;
    background-color: rgb(43, 132, 234);
}

#sec-5-footdiv-bottom a{
    color: white;
    font-weight: bold;    
    text-decoration: none;
}

.sec-5-d5{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    /* border: 2px solid red; */
}

.sec-5-d5-img{
    /* border: 4px solid blue; */
    margin: 20px;
    z-index: 0;
}

#sec-5-d5-img1{
    position: relative;
    width: 60%;
    bottom: 1308px;
    right: 100px;
}

#sec-5-d5-img2{
    position: relative;
    /* width: 60%; */
    bottom: 1010px;
    left: 670px;
}

#sec-5-d5-img3{
    position: relative;
    top: 55px;
    right: 330px;
    z-index: 1;
}

#sec-5-d5-img4{
    position: relative;
    top: 53px;
}

#sec-5-img-i {
    width: 600px;
    background-color: rgb(24,28,46);
    position: relative;
    right: 20px;
    /* border: 2px solid white; */
}

.sec-6{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 205px;
}

#sec-6-card{
    display: grid;
    grid-template-columns: repeat(3,364px);
}

.sec-6-cards{
    margin: 0px 8px;
    height: 300px;
    width: 350px;
}

.sec-6-cards1{
    /* border: 2px solid red; */
    margin: 0px 8px;
    padding: 40px;
    height: 300px;
    width: 350px;
    box-shadow: 3px 5px 10px 1px rgba(128, 128, 128, 0.09);
}

#sec-6-card-d1{
    display: flex;
    align-items: center;
    /* margin-bottom: 40px; */
}

#sec-6-cd1{
    /* border: 4px solid blueviolet; */
    font-size: 40px;
    font-weight: bold;
}

#sec-6-cd1 p{
    padding: 2px 0px;
}

#sec-6-card-d1-top{
    color: rgb(2,4,42);
}

#sec-6-card-d1-mid{
    color: rgb(58,140,235);
}

#sec-6-card-d1-bottom{
    color: rgb(2,4,42);
}

#sec-6-card-d2{
    /* margin-bottom: 40px; */
    /* z-index: 1; */
    background-color: rgb(255,255,255);
}

#sec-6-card-d3{
    /* margin-bottom: 40px; */
    background-color: rgb(255,255,255);
}

.sec-6-cd2-1{
    background-color: rgb(43,132,234);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 80px;
    margin-bottom: 16px;
}

.sec-6-cd2-2{
    font-weight: bold;
    margin: 12px 0px;
    font-size: 18px;
}

.sec-6-cd2-3{
    font-size: 16px;
    margin-right: 7px;
    color: rgb(129,133,151);
    line-height: 24px;
}

.sec-6-cd2-4{
    margin-top: 10px;
}

.sec-6-cd2-4 a{
    color: rgb(43, 132, 234);
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.sec-6-cards1:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

#sec-6-card-d4{
    height: 283px;
    position: relative;
    top: 40px;
}

#sec-6-card-d5{
    height: 283px;
    position: relative;
    top: 40px;
}

#sec-6-card-d6{
    height: 283px;
    position: relative;
    top: 40px;
}

.sec-7{
    background-image: url(https://razorpay.com/build/browser/static/features-bg.61935438.svg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    display: flex;
    position: relative;
    bottom: 160px;
    justify-content: center;
}

#sec-7-bigdiv{
    /* border: 2px solid black; */
    margin-top: 150px;
    /* border: 2px solid black; */
    margin-bottom: 150px;   
    position: relative;
    bottom: 87px;
}

#sec-7-upperdiv{
    /* border: 2px solid red; */
    margin-top: 100px;
    width: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    margin-bottom: 0px;
    flex-direction: column;
}

#sec-7-u-upper{
    /* border: 4px solid rgb(97,206,166); */
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#sec-7-u-mid{
    border: 2.5px solid rgb(97,206,166);
    width: 26px;
    margin: 15px 5px;
}

#sec-7-u-lower{
    /* border: 4px solid rgb(97,206,166); */
    color: white;
    font-size: 16px;
    line-height: 24px;
}

#sec-7-lowerdiv{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.sec-7-lowerdiv-cards{
    height: 250px;
    width: 250px;
    padding: 20px;
    /* border: 2px solid red; */
    color: white;
    margin: 15px;
}

.sec-7-lowerdiv-cards-upper{
    margin-bottom: 12px;
}

.sec-7-lowerdiv-cards-mid{
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 12px;
}

.sec-7-lowerdiv-cards-lower{
    margin-top: 14px;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
}

.sec-8{
    border: 3px solid red;
    background-color: rgb(245,248,254);
    margin-top: -450px;
}

#sec-8-card{
    display: flex;
    justify-content: center;
    padding-top: 170px;
    border: 2px solid black;
}

#sec-8-left{
    padding: 137px 7px;
    border: 2px solid black;
    width: 630px;
    display: flex;
    flex-direction: column;
}

#sec-8-left-top{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 13px;
    color: rgb(2,4,42);
}

#sec-8-left-border{
    border: 2.5px solid rgb(97,206,166);
    width: 26px;
    margin-bottom: 29px;
}

#sec-8-left-texttop{
    margin-bottom: 28px;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.3px;
}

#sec-8-left-textdown{
    font-size: 16px;
    margin-bottom: 28px;
    line-height: 24px;
}

#sec-8-left-btn{
    background-color: rgb(43,132,234);
    border-radius: 4px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#sec-8-left-btn-text{
    position: relative;
    bottom: 2px;
}

#sec-8-left-btn-arrow{
    width: 20px;
    color: white;
    position: relative;
    top: 4px;
    left: 2px;
}

#sec-8-flowing-img{
    border: 2px solid black;
    width: 460px;
    /* overflow: hidden; */
    /* background: url(https://razorpay.com/build/browser/static/merchants.204d7741.png); */
    /* position: relative;
    bottom: 500px; */

    /* display: flex; */
    /* animation: marquee 5s linear infinite; */
    /* animation: slide 3s linear infinite; */
}

#sec-8-img{
    width:450px
}








.sec-9{
    display: flex;
    justify-content: center;
    border: 3px solid blue;
}

#sec-9-card{
    /* border: 2px solid black; */
    margin-top: 98px;
}

#sec-9-top{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec-9-top p{
    font-weight: bold;
    font-size: 24px;
    line-height: 28.8px;
}

#sec-9-top-border{
    border: 2px solid rgb(97,206,166);
    width: 25px;
}

#sec-9-mid{
    /* border: 2px solid red; */
    width: 200px;
    height: 150px;
    position: absolute;
}

#sec-9-mid img{
    width: 200px;
    height: 150px;
    position: relative;
    right: 450px;
    bottom: 30px;
}

#sec-9-bottom{
    /* border: 2px solid red; */
    height: 450px;
}





.sec-10{
    /* background-image: url(https://razorpay.com/build/browser/static/footer-head-bg.990e26df.svg); */
    /* background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 20px; */
    display: flex;
    justify-content: center;
    border: 4px solid rgb(58, 7, 7);
    background-color: rgb(202, 167, 234);
    /* margin: 10px; */
    height: 60vh;
}

#sec-10-card{
    border: 3px solid blue;
    display: flex;
    justify-content: center;
}

#sec-10-left{
    border: 3px solid black;
}

#sec-10-top{
    width: 500px;
    font-size: 24;
    
}

#sec-10-right{
    border: 3px solid black;

}